header{
  height : 600px;
  background-image :url('../UnderImage/UnderImage3.jpg');
  background-size: cover;
}
.BOX{   /*성인/청소년 티켓 해당*/
  width: 600px; /*넓이 600px*/
  height : auto;  /*높이 자동*/
  background-color: white;  /*배경 색 흰색*/
  padding: 20px;  /*안쪽 여백 20*/
  border: 1px solid gray; /*테두리는 1px, 회색*/
  margin: 0 auto; /*바깥쪽여백 0*/
}

.BOX2{  /*어린이 티켓 해당*/
  width: 600px; /*넓이 600px*/
  height: auto; /*높이 자동*/
  background-color: white;  /*배경 색 흰색*/
  padding: 20px;  /*안쪽 여백 20*/
  border: 1px solid gray; /*테두리는 1px, 회색*/
  margin: 0 auto; /*바깥쪽여백 0*/
}

#buttonbuy {  /*구매 버튼*/
    color:white; /*글자 색 흰색*/
    background-color:skyblue; /*배경 색 skyblue*/
    font-size:1.5em; /*글자 크기 1.5em*/
    border-radius:0.8em;  /*테두리 0.8em만큼 둥글게설정*/
    padding: 5px 20px;  /*상하 5px, 좌우 10px 안쪽여백*/
    border-color: cyan; /*테두리색 cyan*/
}
